body {
    background-color: dimgray;
    color: white;
    margin: 90px 60px;

    font-family: 'Lucida Console', monospace;
}

pre {
    font-size: 15px;
}

a {
    color: aqua;
    text-decoration: none;
}
